<%- include('particles/header.ejs') %>

<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/basket">Корзина</a></li>

<% if (auth != true) {%>
<a href="/singIn">Войти</a>
<br><br>
<% } else {%>
<form action="/out" method="post">
    <button type="submit">Выйти</button>
</form>
<% if (user.seller) {%>
    <li><a href="/newItem">Создать товар</a></li>
    <li><a href="/myItems">Мои товары</a></li>
<% } %>
<% } %>
</ul>

<form action="/search" >
    <input type="text" name="search" placeholder="Запрос">
    <button >Найти</button>
</form>

<% for (let i = 0; i < items.length; i++) { %>
    <div class="section">
        <% if (auth == true) {%>
            <form class='gobasket'>
                <input type="hidden" name="items_id" value="<%=items[i].id%>">
                <button type="submit">В корзину</button>
            </form>
        <% } %>
        <a href="/items/<%= items[i].id %>">
            <h3><%= items[i].title %></h2>
                <h4>Цена <%= items[i].price %> рублей</h4>
                <img src="img/<%=items[i].image_name%>">
                <p><%= items[i].description %></p>
            </form>
        </a>
    </div>

<% } %>

<%- include('particles/footer.ejs') %>