<%- include('particles/header.ejs') %>

<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/basket">Корзина</a></li>

</ul>

<h2><%= items.title %></h2>
    <h3>Цена <%= items.price %> рублей</h3>
    <h3><%= items.description %></h3>
    <h4>Сделано <%=items.user.name %></h4>


<%- include('particles/footer.ejs') %>