<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>
</ul>

<h2><%= items.title %></h2>
    <h3>Цена <%= items.price %> рублей</h3>
    <h3><%= items.description %></h3>
    <h4>Сделано <%=items.user.name %></h4>


<%- include('particles/footer.ejs') %>